.flex-container{
    display: flex;
    flex-direction: column;
      color: #DAE2DF;  
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
     font-family: 'Climate Crisis', cursive;
     font-family: 'Playfair Display', serif;
     
    }
    .a {
      font-size: 20px;
      justify-content: center;
    }
    a:link{
      color: #f71735;
    
    }
    a:visited{
      color: #f71735;
    }
    a:hover{
      color: #9A031E;
    }

    .img{
      height: 100vh;
      width: 50vw;
    }